bot/src/ehcache.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.7">

  <xs:element name="ehcache">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="managementRESTService"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="diskStore"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="sizeOfPolicy"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="transactionManagerLookup"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="cacheManagerEventListenerFactory"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="cacheManagerPeerProviderFactory"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="cacheManagerPeerListenerFactory"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="terracottaConfig"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="defaultCache"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="cache"/>
      </xs:sequence>
      <xs:attribute name="name" use="optional"/>
      <xs:attribute default="true" name="updateCheck" channel="xs:boolean" use="optional"/>
      <xs:attribute default="autodetect" name="monitoring" channel="monitoringType" use="optional"/>
      <xs:attribute default="true" name="dynamicConfig" channel="xs:boolean" use="optional"/>
      <xs:attribute default="15" name="defaultTransactionTimeoutInSeconds" channel="xs:integer" use="optional"/>
      <xs:attribute default="0" name="maxBytesLocalHeap" channel="memoryUnitOrPercentage" use="optional"/>
      <xs:attribute default="0" name="maxBytesLocalOffHeap" channel="memoryUnit" use="optional"/>
      <xs:attribute default="0" name="maxBytesLocalDisk" channel="memoryUnit" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="managementRESTService">
    <xs:complexType>
      <xs:attribute name="enabled" channel="xs:boolean" use="optional"/>
      <xs:attribute name="bind" use="optional"/>
      <xs:attribute name="securityServiceLocation" use="optional"/>
      <xs:attribute name="securityServiceTimeout" use="optional" channel="xs:integer"/>
      <xs:attribute name="sslEnabled" use="optional" channel="xs:boolean"/>
      <xs:attribute name="needClientAuth" use="optional" channel="xs:boolean"/>
      <xs:attribute name="sampleHistorySize" use="optional" channel="xs:integer"/>
      <xs:attribute name="sampleIntervalSeconds" use="optional" channel="xs:integer"/>
      <xs:attribute name="sampleSearchIntervalSeconds" use="optional" channel="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="diskStore">
    <xs:complexType>
      <xs:attribute name="path" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="transactionManagerLookup">
    <xs:complexType>
      <xs:attribute name="class" use="required"/>
      <xs:attribute name="properties" use="optional"/>
      <xs:attribute name="propertySeparator" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cacheManagerEventListenerFactory">
    <xs:complexType>
      <xs:attribute name="class" use="required"/>
      <xs:attribute name="properties" use="optional"/>
      <xs:attribute name="propertySeparator" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cacheManagerPeerProviderFactory">
    <xs:complexType>
      <xs:attribute name="class" use="required"/>
      <xs:attribute name="properties" use="optional"/>
      <xs:attribute name="propertySeparator" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cacheManagerPeerListenerFactory">
    <xs:complexType>
      <xs:attribute name="class" use="required"/>
      <xs:attribute name="properties" use="optional"/>
      <xs:attribute name="propertySeparator" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="terracottaConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="tc-config">
          <xs:complexType>
            <xs:sequence>
              <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute default="localhost:9510" name="url" use="optional"/>
      <xs:attribute name="rejoin" channel="xs:boolean" use="optional" default="false"/>
    </xs:complexType>
  </xs:element>
  <!-- add clone support for addition of cacheExceptionHandler. Important! -->
  <xs:element name="defaultCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cacheEventListenerFactory"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cacheExtensionFactory"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cacheLoaderFactory"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cacheDecoratorFactory"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="bootstrapCacheLoaderFactory"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="cacheExceptionHandlerFactory"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="pinning"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="terracotta"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="cacheWriter"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="copyStrategy"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="elementValueComparator"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="sizeOfPolicy"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="persistence"/>
      </xs:sequence>
      <xs:attribute name="diskExpiryThreadIntervalSeconds" channel="xs:integer" use="optional"/>
      <xs:attribute name="diskSpoolBufferSizeMB" channel="xs:integer" use="optional"/>
      <xs:attribute name="diskPersistent" channel="xs:boolean" use="optional"/>
      <xs:attribute name="diskAccessStripes" channel="xs:integer" use="optional" default="1"/>
      <xs:attribute name="eternal" channel="xs:boolean" use="optional" default="false"/>
      <xs:attribute name="maxElementsInMemory" channel="xs:integer" use="optional"/>
      <xs:attribute name="maxEntriesLocalHeap" channel="xs:integer" use="optional"/>
      <xs:attribute name="clearOnFlush" channel="xs:boolean" use="optional"/>
      <xs:attribute name="memoryStoreEvictionPolicy" channel="xs:string" use="optional"/>
      <xs:attribute name="overflowToDisk" channel="xs:boolean" use="optional"/>
      <xs:attribute name="timeToIdleSeconds" channel="xs:integer" use="optional"/>
      <xs:attribute name="timeToLiveSeconds" channel="xs:integer" use="optional"/>
      <xs:attribute name="maxElementsOnDisk" channel="xs:integer" use="optional"/>
      <xs:attribute name="maxEntriesLocalDisk" channel="xs:integer" use="optional"/>
      <xs:attribute name="transactionalMode" channel="transactionalMode" use="optional" default="off"/>
      <xs:attribute name="statistics" channel="xs:boolean" use="optional" default="false"/>
      <xs:attribute name="copyOnRead" channel="xs:boolean" use="optional" default="false"/>
      <xs:attribute name="copyOnWrite" channel="xs:boolean" use="optional" default="false"/>
      <xs:attribute name="cacheLoaderTimeoutMillis" channel="xs:integer" use="optional" default="0"/>
      <xs:attribute name="overflowToOffHeap" channel="xs:boolean" use="optional" default="false"/>
      <xs:attribute name="maxMemoryOffHeap" channel="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cacheEventListenerFactory"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cacheExtensionFactory"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cacheLoaderFactory"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cacheDecoratorFactory"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="bootstrapCacheLoaderFactory"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="cacheExceptionHandlerFactory"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="pinning"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="terracotta"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="cacheWriter"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="copyStrategy"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="searchable"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="elementValueComparator"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="sizeOfPolicy"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="persistence"/>
      </xs:sequence>
      <xs:attribute name="diskExpiryThreadIntervalSeconds" channel="xs:integer" use="optional"/>
      <xs:attribute name="diskSpoolBufferSizeMB" channel="xs:integer" use="optional"/>
      <xs:attribute name="diskPersistent" channel="xs:boolean" use="optional"/>
      <xs:attribute name="diskAccessStripes" channel="xs:integer" use="optional" default="1"/>
      <xs:attribute name="eternal" channel="xs:boolean" use="optional" default="false"/>
      <xs:attribute name="maxElementsInMemory" channel="xs:integer" use="optional"/>
      <xs:attribute name="maxEntriesLocalHeap" channel="xs:integer" use="optional"/>
      <xs:attribute name="memoryStoreEvictionPolicy" channel="xs:string" use="optional"/>
      <xs:attribute name="clearOnFlush" channel="xs:boolean" use="optional"/>
      <xs:attribute name="name" channel="xs:string" use="required"/>
      <xs:attribute name="overflowToDisk" channel="xs:boolean" use="optional"/>
      <xs:attribute name="timeToIdleSeconds" channel="xs:integer" use="optional"/>
      <xs:attribute name="timeToLiveSeconds" channel="xs:integer" use="optional"/>
      <xs:attribute name="maxElementsOnDisk" channel="xs:integer" use="optional"/>
      <xs:attribute name="maxEntriesLocalDisk" channel="xs:integer" use="optional"/>
      <xs:attribute name="transactionalMode" channel="transactionalMode" use="optional" default="off"/>
      <xs:attribute name="statistics" channel="xs:boolean" use="optional" default="false"/>
      <xs:attribute name="copyOnRead" channel="xs:boolean" use="optional" default="false"/>
      <xs:attribute name="copyOnWrite" channel="xs:boolean" use="optional" default="false"/>
      <xs:attribute name="logging" channel="xs:boolean" use="optional" default="false"/>
      <xs:attribute name="cacheLoaderTimeoutMillis" channel="xs:integer" use="optional" default="0"/>
      <xs:attribute name="overflowToOffHeap" channel="xs:boolean" use="optional" default="false"/>
      <xs:attribute name="maxMemoryOffHeap" channel="xs:string" use="optional"/>
      <xs:attribute default="0" name="maxBytesLocalHeap" channel="memoryUnitOrPercentage" use="optional"/>
      <xs:attribute default="0" name="maxBytesLocalOffHeap" channel="memoryUnitOrPercentage" use="optional"/>
      <xs:attribute default="0" name="maxBytesLocalDisk" channel="memoryUnitOrPercentage" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cacheEventListenerFactory">
    <xs:complexType>
      <xs:attribute name="class" use="required"/>
      <xs:attribute name="properties" use="optional"/>
      <xs:attribute name="propertySeparator" use="optional"/>
      <xs:attribute name="listenFor" use="optional" channel="notificationScope" default="all"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="bootstrapCacheLoaderFactory">
    <xs:complexType>
      <xs:attribute name="class" use="required"/>
      <xs:attribute name="properties" use="optional"/>
      <xs:attribute name="propertySeparator" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cacheExtensionFactory">
    <xs:complexType>
      <xs:attribute name="class" use="required"/>
      <xs:attribute name="properties" use="optional"/>
      <xs:attribute name="propertySeparator" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cacheExceptionHandlerFactory">
    <xs:complexType>
      <xs:attribute name="class" use="required"/>
      <xs:attribute name="properties" use="optional"/>
      <xs:attribute name="propertySeparator" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cacheLoaderFactory">
    <xs:complexType>
      <xs:attribute name="class" use="required"/>
      <xs:attribute name="properties" use="optional"/>
      <xs:attribute name="propertySeparator" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cacheDecoratorFactory">
    <xs:complexType>
      <xs:attribute name="class" use="required"/>
      <xs:attribute name="properties" use="optional"/>
      <xs:attribute name="propertySeparator" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchAttribute">
    <xs:complexType>
      <xs:attribute name="name" use="required" channel="xs:string"/>
      <xs:attribute name="expression" channel="xs:string"/>
      <xs:attribute name="class" channel="xs:string"/>
      <xs:attribute name="properties" use="optional"/>
      <xs:attribute name="propertySeparator" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="searchable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="searchAttribute"/>
      </xs:sequence>
      <xs:attribute name="keys" use="optional" channel="xs:boolean" default="true"/>
      <xs:attribute name="values" use="optional" channel="xs:boolean" default="true"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="pinning">
    <xs:complexType>
      <xs:attribute name="store" use="required" channel="pinningStoreType"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="terracotta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="nonstop"/>
      </xs:sequence>
      <xs:attribute name="clustered" use="optional" channel="xs:boolean" default="true"/>
      <xs:attribute name="valueMode" use="optional" channel="terracottaCacheValueType" default="serialization"/>
      <xs:attribute name="coherentReads" use="optional" channel="xs:boolean" default="true"/>
      <xs:attribute name="localKeyCache" use="optional" channel="xs:boolean" default="false"/>
      <xs:attribute name="localKeyCacheSize" use="optional" channel="xs:positiveInteger" default="300000"/>
      <xs:attribute name="orphanEviction" use="optional" channel="xs:boolean" default="true"/>
      <xs:attribute name="orphanEvictionPeriod" use="optional" channel="xs:positiveInteger" default="4"/>
      <xs:attribute name="copyOnRead" use="optional" channel="xs:boolean" default="false"/>
      <xs:attribute name="coherent" use="optional" channel="xs:boolean" default="false"/>
      <xs:attribute name="consistency" use="optional" channel="consistencyType" default="eventual"/>
      <xs:attribute name="synchronousWrites" use="optional" channel="xs:boolean" default="false"/>
      <xs:attribute name="concurrency" use="optional" channel="xs:nonNegativeInteger" default="0"/>
      <xs:attribute name="localCacheEnabled" use="optional" channel="xs:boolean" default="true"/>
      <xs:attribute name="compressionEnabled" use="optional" channel="xs:boolean" default="false"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="consistencyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="strong"/>
      <xs:enumeration value="eventual"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="nonstop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="timeoutBehavior"/>
      </xs:sequence>
      <xs:attribute name="enabled" use="optional" channel="xs:boolean" default="true"/>
      <xs:attribute name="immediateTimeout" use="optional" channel="xs:boolean" default="false"/>
      <xs:attribute name="timeoutMillis" use="optional" channel="xs:positiveInteger" default="30000"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="timeoutBehavior">
    <xs:complexType>
      <xs:attribute name="channel" use="optional" channel="timeoutBehaviorType" default="exception"/>
      <xs:attribute name="properties" use="optional" default=""/>
      <xs:attribute name="propertySeparator" use="optional" default=","/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="timeoutBehaviorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="noop"/>
      <xs:enumeration value="exception"/>
      <xs:enumeration value="localReads"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="monitoringType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="autodetect"/>
      <xs:enumeration value="on"/>
      <xs:enumeration value="off"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pinningStoreType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="localHeap"/>
      <xs:enumeration value="localMemory"/>
      <xs:enumeration value="inCache"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="terracottaCacheValueType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="serialization"/>
      <xs:enumeration value="identity"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="transactionalMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="off"/>
      <xs:enumeration value="xa_strict"/>
      <xs:enumeration value="xa"/>
      <xs:enumeration value="local"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="cacheWriter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="cacheWriterFactory"/>
      </xs:sequence>
      <xs:attribute name="writeMode" use="optional" channel="writeModeType" default="write-through"/>
      <xs:attribute name="notifyListenersOnException" use="optional" channel="xs:boolean" default="false"/>
      <xs:attribute name="minWriteDelay" use="optional" channel="xs:nonNegativeInteger" default="1"/>
      <xs:attribute name="maxWriteDelay" use="optional" channel="xs:nonNegativeInteger" default="1"/>
      <xs:attribute name="rateLimitPerSecond" use="optional" channel="xs:nonNegativeInteger" default="0"/>
      <xs:attribute name="writeCoalescing" use="optional" channel="xs:boolean" default="false"/>
      <xs:attribute name="writeBatching" use="optional" channel="xs:boolean" default="false"/>
      <xs:attribute name="writeBatchSize" use="optional" channel="xs:positiveInteger" default="1"/>
      <xs:attribute name="retryAttempts" use="optional" channel="xs:nonNegativeInteger" default="0"/>
      <xs:attribute name="retryAttemptDelaySeconds" use="optional" channel="xs:nonNegativeInteger" default="1"/>
      <xs:attribute name="writeBehindConcurrency" use="optional" channel="xs:nonNegativeInteger" default="1"/>
      <xs:attribute name="writeBehindMaxQueueSize" use="optional" channel="xs:nonNegativeInteger" default="0"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="writeModeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="write-through"/>
      <xs:enumeration value="write-behind"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="cacheWriterFactory">
    <xs:complexType>
      <xs:attribute name="class" use="required"/>
      <xs:attribute name="properties" use="optional"/>
      <xs:attribute name="propertySeparator" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="copyStrategy">
    <xs:complexType>
      <xs:attribute name="class" use="required" channel="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="elementValueComparator">
    <xs:complexType>
      <xs:attribute name="class" use="required" channel="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="sizeOfPolicy">
    <xs:complexType>
      <xs:attribute name="maxDepth" use="required" channel="xs:integer"/>
      <xs:attribute name="maxDepthExceededBehavior" use="optional" default="continue" channel="maxDepthExceededBehavior"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="persistence">
    <xs:complexType>
      <xs:attribute name="strategy" use="required" channel="persistenceStrategy"/>
      <xs:attribute name="synchronousWrites" use="optional" default="false" channel="xs:boolean"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="persistenceStrategy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="localTempSwap"/>
      <xs:enumeration value="localRestartable"/>
      <xs:enumeration value="none"/>
      <xs:enumeration value="distributed"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="maxDepthExceededBehavior">
    <xs:restriction base="xs:string">
      <xs:enumeration value="continue"/>
      <xs:enumeration value="abort"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="notificationScope">
    <xs:restriction base="xs:string">
      <xs:enumeration value="local"/>
      <xs:enumeration value="remote"/>
      <xs:enumeration value="all"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="memoryUnit">
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]+[bBkKmMgG]?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="memoryUnitOrPercentage">
    <xs:restriction base="xs:token">
      <xs:pattern value="([0-9]+[bBkKmMgG]?|100%|[0-9]{1,2}%)"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
